service: sls-nestjs-api

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  memorySize: 512
  timeout: 30
  environment:
    NODE_ENV: ${self:provider.stage}
  apiGateway:
    shouldStartNameWithService: true

plugins:
  - serverless-offline

build:
  esbuild: false

functions:
  main:
    handler: dist/lambda.handler
    events:
      - http:
          method: ANY
          path: /
          cors: true
      - http:
          method: ANY
          path: /{proxy+}
          cors: true

package:
  individually: true
  patterns:
    - '!node_modules/**'
    - '!.git/**'
    - '!.vscode/**'
    - '!.idea/**'
    - '!dist/**'
    - '!.serverless/**'
    - '!coverage/**'
    - '!test/**'
